<p id="notice"><%= notice %></p>

<%= link_to 'Home index', root_path %>

<h1>Pessoas</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Nome</th>
    <th>Data nascimento</th>
<!--    <th>Email</th>-->
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @pessoas.each do |pessoa| %>
    <%# @emails.each do |email| %>
      <tr>
        <td><%= pessoa.id %></td>
        <td><%= pessoa.nome %></td>
        <td><%= pessoa.data_nascimento %></td>
<!--        <td><%#= pessoa[:id] %></td>-->
        <td><%= link_to 'Show', pessoa %></td>
        <td><%= link_to 'Edit', edit_pessoa_path(pessoa) %></td>
        <td><%= link_to 'Destroy', pessoa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pessoa', new_pessoa_path %>
